@model OmniDataManagement.RootTransactions
@{
    ViewBag.Title = "My Transactions";
}
<ol class="breadcrumb mb-3">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Transactions</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 float-left">
        <h4 class="nav-header mt-0">NAVIGATION</h4>
        <ul class="navbar-nav nav-stacked">
            <li class="nav-item"><a class="nav-link" href="~/Home/Index"><i class="fas fa-fw fa-home"></i> Home</a> </li>
            <li class="nav-item"><a class="nav-link" href="~/AccountDetails/Index"><i class="fas fa-fw fa-building"></i> My Account</a> </li>
            <li class="nav-item active"><a class="nav-link" href="~/Transactions/Index"><i class="fas fa-fw fa-street-view"></i> Transactions</a></li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-fw fa-credit-card"></i> My Cards </a></li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-shopping-cart"></i> Add Funds</a></li>            
            <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-fw fa-chart-line"></i> Reporting</a></li>
        </ul>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 float-left">
        <div class="row main-head">
          <div class="col-lg-4 text-left pl-3 float-left">
              @Html.DropDownList("AccountDetails", (SelectList)ViewBag.AccountDetails, new { @class = "form-control",
             @onchange = "CallChangefunc(this.value)" })
          </div>
          <div class="col-lg-8 float-left text-right">
              <a href="#" class="btn btn-primary disabled"><i class="far fa-list-alt"></i>&nbsp;Statements</a>
              <a href="~/Payments/Make" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>&nbsp;Make Payment</a>
          </div>
        </div>       
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        <i class="more-less fas fa-angle-right"></i>
                        Transaction Details for @Model.AccountAlias
                    </a>
                </h4>
            </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Transaction Date</th>                                        
                                        <th>Description</th>                                        
                                        <th>Transaction Type</th>
                                        <th>Amount</th>
                                        <th>Balance</th>
                                    </tr>
                                @foreach (OmniDataManagement.TransactionDetails item2 in Model.TransactionsList)
                                {
                                    <tr>
                                        <td>@item2.ChargeDate</td>                                        
                                        <td>@item2.Description</td>                                        
                                        <td>@item2.TransactionTypeName</td>
                                        @if (item2.TransactionStatus != 0)
                                        {
                                            <td>@item2.Amount*</td>
                                        }
                                        else
                                        {
                                            <td>@item2.Amount</td>
                                        }
                                        <td>@item2.Balance</td>                                        
                                    </tr>
                                }
                                </tbody>
                                <!--  panel 2   -->
                            </table>
                        </div>
                    <div class="mt-5 float-right">
                        <h6 class="main-header mt-sm-1">* Transaction not settled</h6>
                    </div>  
                </div>
        </div>
    </div>
          
        <!-- panel-group 
        <div class="col-lg-12 pr-0 mt-20">
            <nav aria-label="Page navigation example">
                <ul class="pagination float-right" id="pagination-demo">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>-->
    </div>
</div>
<script src="~/Scripts/Custom/Transactions.js"></script>