@model OmniDataManagement.LoginRequestDetails
@{
Layout = null;
}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Welcome to the home of the MoneyNow! card program. MoneyNow! offers you the financial peace of mind that only managed payroll cards can provide." />
      <title>Login</title>
      <!-- Need to change below links to dynamic -->
      <link rel="shortcut icon" href="~/Content/images/moneynow/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="~/Content/css/moneynow/theme.css">
      @*@Styles.Render("~/bundles/css")*@
      <link rel="stylesheet" href="~/Content/bootstrap.css">
      <link rel="stylesheet" href="~/Content/style.css">
      <link rel="stylesheet" href="~/Content/site.css">
   </head>
   <body>
      <!-- Body -->
      @using (Html.BeginForm("Login", "Home", FormMethod.Post))
      {
      <div class="login-skin">
         <div class="login-overlay">
            <div class="container">
               <div class="wrapper">
                  <div class="row">
                     <div class="login-wrap">
                        <div class="text-center bg-primary">
                           <img src="~/Content/images/moneynow/logo.png" alt="Logo">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 login-body-section">
                           <div class="form-group">
                              <label for="Username">Username</label>
                              @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                              @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                           </div>
                           <div class="form-group">
                              <label for="Password">Password</label>
                              @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                              @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                           </div>
                           <div class="form-check pl-0">
                              @Html.CheckBoxFor(m => m.RememberMe)
                              <label class="form-check-label" for="defaultCheck1">Remember me</label>
                           </div>
                           <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />
                           <button type="submit" id="btnLogin" class="btn btn-primary btn-lg btn-block ml-0 mt-3"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</button>
                           
                           <div class="text-center mt-4 mb-4">
                              <a href="#">Having trouble logging in?</a>
                           </div>
                           <br />
                           <div id="dvMessage" style="display:none" class="alert alert-danger">
                              <strong>
                              <span>@ViewBag.Message</span>
                              </strong>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      }
      @*Scripts.Render("~/bundles/js")
      @RenderSection("scripts", required: false)*@
      <script src="/Scripts/jquery-3.3.1.js"></script>
      <script src="/Scripts/jquery.validate.js"></script>
      <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
      <script src="/Scripts/bootstrap.js"></script>
      <script src="/Scripts/respond.js"></script>
      <script src="/Scripts/custom.js"></script>
      @if (@ViewBag.Message != null)
      {
      <script type="text/javascript">
         $(function () {
             $("#dvMessage").show();
         });
      </script>
      }
      <script type="text/javascript">
         $('#btnLogin').on('click', function () {
             if ($("#Username").val() != '' && $("#Password").val() != '') {
                 $(".hidden").show();
             }
         });
      </script>
   </body>
</html>
